<div class="jumbotron">
  <h1 class="display-3"><%= @experience.description %></h1>
  <p class="lead"><strong>Country to Visit:</strong> <a href="/countries/<%= @experience.country.id %>"><%= @experience.country.name %></a></p>
  <% if @experience.user_id == @user.id %>
    <p>From Your Travel Goals</p>
    <a class="btn btn-info btn-sm" href="/experiences/<%= @experience.id %>/edit" role="button">Edit Experience</a>
  <% else %>
    <p>From <%= @experience.user.name %>'s Travel Goals</p>
    <a class="btn btn-info btm-sm" href="/experiences/<%= @experience.id %>/new_from_user" role="button">Add this to my Goals</a>
  <% end %>
<hr class="my-4">
  <p>Categories</p>
  <% @experience.categories.each do |c| %>
    <ul>
      <li><a href="/categories/<%= c.id %>"><%= c.name %></a></li>
    </ul>
  <% end %>
  <% if @experience.user_id == @user.id %>
      <form method="POST" action="/experiences/<%= @experience.id %>/delete">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <button type="submit" class="btn btn-danger btn-sm">Delete Experience</button>
      </form>
  <% end %>
</div>
<% if @experience.user_id == @user.id %>
  <div class="text-right"><a class="btn btn-success" style="margin: 20px" href="/experiences" role="button">< Back to My Travel Goals</a></div>
<% else %>
  <div class="text-right"><a class="btn btn-warning" style="margin: 20px" href="/experiences/users" role="button">< Back to Existing Goals</a></div>
<% end %>